@import "normalize.css";

body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;

  background: #edf2f7;
}

.container {
  width: 1024px;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.main__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 76px;
}

.container.main__content.story{
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  justify-content: flex-start;
}

.Story {
  font-size: 26px;
  font-weight: 550;
  margin: 0;
  margin-left: 42px;
  margin-bottom: 13px;
}

.content {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}
