.btn {
  padding: 12px;

  color: white;

  background-color: #13406d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #123d68;
}

.btn:active {
  background-color: #0f3458;
}
