.history__story {
  display: flex;
  border: 1px solid #F2F3F4;
  align-items: center;
  box-sizing: border-box;
  height: 67px;
  font-size: 18px;
  padding: 0 15px;
  margin: 0 -1px;
}

.history__story-btnDelete {
  border: none;
  cursor: pointer;
  height: 65px;
  padding: 0;
  width: 40px;
  margin-left: auto;
  margin-right: -8px;
  background-color: white;
}

.history__story-btnDelete:hover {
  background-color: #F2F3F4;
}

.history__story-btnDelete:active {
  background-color: #D5D9DE;
}

.history__story-value {
  margin-right: 128px;
  margin-left: auto;
}
