.history__story {
  display: flex;
  width: 590px;
  flex-grow: 4;
  align-items: center;
  height: 67px;
  font-size: 18px;
  padding: 0 15px;
  margin: 0 -1px;
  cursor: pointer;
}

.history__story-btnDelete {
  flex-grow: 1;
  border: none;
  cursor: pointer;
  margin: 0;
  height: 65px;
  padding: 0;
  width: 15px;
  background-color: white;
}

.history__story__body {
  display: flex;
  border-bottom: 1px solid #F2F3F4;
  align-items: center;
}

.history__story-btnDelete:hover {
  background-color: #F2F3F4;
}

.history__story-btnDelete:active {
  background-color: #D5D9DE;
}

.history__story-value {
  margin-right: 128px;
  margin-left: auto;
}
