.players {
  display: flex;
  flex-direction: column;
  min-width: 328px;
  height: 457px;
  margin-top: 63px;
  margin-left: 20px;
}

.players__header {
  display: flex;
  background-color: #13406D;
  min-height: 60px;
  border-radius: 4px 4px 0px 0px;
  color: white;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.players__body {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  border-radius: 0px 0px 4px 4px;
  background-color: white;
}

.players__title {
  margin: 24px 0;
  margin-left: 28px;
  font-size: 18px;
}

.players__group {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden auto;
  max-height: 265px;
  display: flex;
  flex-direction: column;
}

/*.players__group::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.players__group {
  -ms-overflow-style: none;
}*/

.players__btn {
  padding: 12px 0;
  min-height: 40px;
  color: #13406D;
  min-width: 150px;
  margin: 0 23px;
  background-color: white;
  border: 1px solid #13406D;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.players__btn:hover {
  border: 1px solid #123D68;
  color: #123D68;
  background-color: white;
}

.players__btn:active {
  border: 1px solid #0F3458;
  background-color: #F2F3F4;
  color: #0F3458;
}

.player__voted {
  margin-right: 24px;
}

.player__voting {
  font-size: 20px;
  margin-right: 31px;
}

.players.story {
  margin-top: 10px;
}

.players__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.players__storyname {
  height: 39px;
  flex-grow: 1;
  margin: 0;
  border: 1px solid #D5D9DE;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
}

.players__btn-next {
  width: 68px;
  height: 39px;
  margin-left: -1px;
  margin-right: 26px;
  border-radius: 0px 4px 4px 0px;
}

