* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;

  font-family: Roboto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background: #13406d;
}

.header h1 {
  margin-left: 20px;

  color: white;
  font-weight: normal;
  font-size: 50px;
  font-style: normal;
  line-height: 56px;
}

.header a {
  text-decoration: none;
}

.icon {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
}

.left-semicircle {
  width: 25px;
  height: 50px;

  background: white;
  border-radius: 25px 0 0 25px;
}

.right-semicircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4px;
}

.toprt-sector,
.bottomrt-sector {
  width: 23px;
  height: 23px;

  background: white;
}

.toprt-sector {
  border-radius: 0 25px 0 0;
}

.bottomrt-sector {
  margin-top: 4px;

  border-radius: 0 0 25px;
}

main {
  display: flex;
  justify-content: center;

  height: 100%;

  background: #edf2f7;
}

.form {
  display: flex;
  flex-direction: column;

  width: 500px;
  height: 400px;
  margin-top: 200px;

  background: white;
  border-radius: 4px;
  box-shadow: 0 0 3px #d5d9de;
}

.form h2 {
  margin-top: 55px;

  color: black;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  line-height: 35px;
  text-align: center;
}

.form p {
  margin-top: 13px;

  color: #808284;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  text-align: center;
}

.user-name,
.room-name {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  margin-inline: 85px;
}

.room-name {
  margin-top: 10px;
}

.input-user-name,
.input-room-name {
  box-sizing: border-box;
  height: 40px;
  margin-top: 10px;
  padding: 15px;


  color: black;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;

  border: 1px solid #d5d9de;
  border-radius: 4px;
}

.btn-enter {
  height: 40px;
  margin-top: 36px;

  color: white;

  background: #13406d;
  border-radius: 4px;
  margin-inline: 85px;
}

footer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  height: 70px;

  background: white;
}

footer p {
  color: #808284;
}

footer a {
  color: #13406d;
  text-decoration: none;
}

